.admin-maintext{
	padding-left: 2rem;
	background: white;
	border-radius: 60px;
}
.admin-maintext span{
	font-size: 1.25em;
}
.jm-companydetail>ul{
	display: flex;
	padding: 0;
}
.admin-cen{
	text-align: center;
	margin: auto;
}
.admin-pointer{
	cursor: pointer;
}
.admin-flex{
	display: flex;
	margin-left: auto;
}
canvas{
	margin-top: 50px;
}
.list-table{
	border: 2px solid #009b77;
	width: 100%;
}
.list-table>thead{
	text-align: center;
	border: 2px solid white;
}
.list-table th, .list-table td{
	background-color: white;
}
.list-table td{
	padding-left: 15px;
}
.list-table td, .list-table th {
	 border: 2px solid #009b77;
}
.list-table .admin-pointer:hover{
	background-color: #f5fbf5;
	color: black;
}
.admin-maptable{
	margin: auto;
}
.admin-maptable th{
	background: #f2f5f9;
	width: 100px;
}
.admin-maptable td{
	padding-left:2rem;
	background: white;
	text-align: left;
}
.admin-maptable .admin-map-padding{
	padding: 2px;
}
.admin-map{
	height: 400px;
}
.admin-margin-top{
	margin-top: 50px;
}
.admin-border-top{
	border-top: 1px solid black;
}
.admin-border-bottom{
	border-bottom: 1px solid black;
}
.admin-border-t-and-b{
	border-bottom: 1px solid #dae0e9;
	border-top: 1px solid #dae0e9;
}
.admin-ctable>div{
	text-align: left;
}
#cntPerPage{
	background-color: white;
}
#cntPerPage:hover{
	background-color: #f5fbf5;
}
