.jm-header {
    color: #000;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-size: 1.3125rem;
    margin-bottom: 1rem !important;
}
.tableBox {
	text-align: center;
}

.btn {
	margin-right: 10px;
}

.attendBtn {
	display: flex;
	margin-bottom: 10px;
	align-items: flex-end;
}
