/* 캘린더!! */
/* .fc-daygrid-more-link.fc-more-link {	more버튼
	color: #000;
}
.fc-icon.fc-icon-chevron-left::before {	캘린더 < > 버튼 css 
	font-family: inherit;
}
.fc-icon.fc-icon-chevron-right::before {
	font-family: inherit;
}
.fc-popover-close.fc-icon.fc-icon-x::before {	캘린더 세부 일정 x버튼
	font-family: inherit;
}
.fc-col-header-cell-cushion {
	color: #333;
}
.fc-daygrid-day-number{
	color: #333;	
}
.fc .fc-button-primary{
	background-color: #fff;
} */
/* 캘린더!! */


/* 캘린더 위 header!! */
.w3-bar.tabBar {	/* 피드 쪽 */
	height: 36.31px;
	border-bottom: 1px solid #80808038;
}
.w3-bar {
    width: 100%;
    overflow: hidden;
}
.w3-bar-item.w3 {
    background-color: #f5f7fb;
}
.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.project-search {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
	margin-bottom: 10px;
}
.form-cal-control{
	width: 20%;
	padding: 0.3rem 0.85rem;
}
#btn-modal {	/* +일정추가 버튼 */
	border: 1px solid transparent;
	
	
}
.btn.btn-primary.addTaskTab {
    padding: 8px 16px;
    float: right;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    float: right;
}
/* 캘린더 위 header!! */

    


/* 일정추가 모달!! */
.modal-overlay {	/* 일정추가 css */
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.18);
	z-index: 1;	/* 모달창을 제일 앞으로 위치시킴 */
}
.modal-window {
	background-color: #fff;
	border-radius: 10px;
	idth: 400px;
	width: 674px;
	height: 800px;
	position: relative;
	
	padding: 13px 0 0;
	margin: 30px auto 0 auto;
}
.create-header {
	position: relative;
	height: 30px;
	padding: 3px 120px 30px 30px;

}
.create-post-title{
	font-weight: bold;	
}
.title-input {

}
#postTitle {	/* 일정추가 제목 */
	padding: 20px 30px 15px 0;
	margin-left: 30px;
	width: 90%;
	font-size: 18px;
	/* input 테두리x */
	border: none; 
	background: transparent;
	border-bottom: 1px solid #ced4da;
}
input:focus {	/* 클릭시 테두리x */
	outline:none;
}
.close-area{
	color: #999;
	right: 30px;
	/* font-size: 28px; */
	font-weight: bold;
	padding-right: 10px;
	position: absolute;
	top: 0;
}
/* 일정추가 모달!! */