/* 캘린더 위 header!! */
.w3-bar.tabBar {	/* 피드 쪽 */
	height: 36.31px;
	border-bottom: 1px solid #80808038;
}
.w3-bar {
    width: 100%;
    overflow: hidden;
}
.w3-bar-item.w3 {
    background-color: #f5f7fb;
}
.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.project-search {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
	margin-bottom: 10px;
}
.form-cal-control{
	width: 20%;
	padding: 0.3rem 0.85rem;
}
#btn-modal {	/* +일정추가 버튼 */
	border: 1px solid transparent;
	
	
}
.btn.btn-primary.addTaskTab {
    padding: 8px 16px;
    float: right;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    float: right;
}
/* 캘린더 위 header!! */

    


