/* 모달 공통 */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #f5f7fb;
  padding: 0px;
  border-radius: 10px;
}

.modal-header {
	height: 65px;
    background-color: #009b77;
}

.modal-body {
	padding: 15px 15px;
	margin: 0 auto;
	height: 94%;
}

.modal-text {
	display: block;
	padding: 0.625rem 1.625rem;
}
.modal-header.pcal {
    height: 65px;
    background-color: #009b77;
	border-radius: 10px 10px 0px 0px;
}
.card.pcal{
	word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    height: 100%;
}
.card-body.pcal{
	cursor: auto;
	height: 100%;
}
.modal-dialog.pcal {
    position: relative;
    z-index: 5;
    height: 80%;
    width: 674px;
    margin: 30px auto 0 auto;
    background: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    box-shadow: 20px 20px 30px rgba(0,0,0,.2);
    border-radius: 10px;
}
.form-date {
    width: 45%;
}

/* 모달 간격 조정 */
#form-content{
	margin-bottom: 1.5rem;
}
.stitle {
	margin-bottom: 1.5rem;
}
#smemo{
	margin-bottom: 1.5rem;
}
.form-date {
	margin-bottom: 1.5rem;
}
/* 모달 간격 조정 */

/* 모달 공통 */




.form-control.userid {
	width: 30%;
}

/* 지도 */
#map{
	width: 100%;
	height: 200px;
}

