/* 모달 공통 */


.pcal.modal-container {
 	background-color: #f5f7fb;
    padding: 0px;
   	border-radius: 10px 10px 0px 0px;
}

.modal-body-pcal {
	padding: 15px 15px;
	margin: 0 auto;
	/* height: 94%; */
	height:80%;
}

.modal-header-pcal {
    height: 65px;
    background-color: #009b77;
	border-radius: 10px 10px 0px 0px;
}
.card.pcal{
	word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    height: 100%;
}
.card-body.pcal{
	cursor: auto;
	height: 100%;
}
.modal-dialog.pcal {
    position: relative;
    z-index: 5;
    height: 80%;
    width: 674px;
    margin: 30px auto 0 auto;
    background: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    box-shadow: 20px 20px 30px rgba(0,0,0,.2);
    border-radius: 10px;
}
.form-date {
    width: 45%;
}

/* 모달 간격 조정 */
#form-content{
	margin-bottom: 1.5rem;
}
.stitle {
	margin-bottom: 1.5rem;
}
#smemo{
	margin-bottom: 1.5rem;
}
.form-date {
	margin-bottom: 1.5rem;
}
/* 모달 간격 조정 */

/* 모달 공통 */

/* read */
/* .modal-content.pcal {
  border-radius: 40px 0 0 40px;
} */

.modal-header.project {
    border-radius: 40px 0 0;
}

.modal.project.right.fade .modal-dialog {
	right:-40%;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
     transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.project.right.fade.show .modal-dialog {
	right: 0;
}
/* read */

.form-control.userid {
	width: 30%;
}

/* add+kakao 지도 */
#map{
	width: 100%;
	height: 200px;
} 
.map-hidden {
  display: none;
}
/* read+kakao 지도 */
#map-readmodal{
	width: 100%;
	height: 200px;
}  

