/* 모달 공통 */
.modal-dialog.pcal {
    position: relative;
    z-index: 5;
    height: 80%;
    width: 674px;
    margin: 30px auto 0 auto;
    background: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    box-shadow: 20px 20px 30px rgba(0,0,0,.2);
    border-radius: 10px;
}

.modal-container.pcal {
 	background-color: #f5f7fb;
   	border-radius: 10px;
}

.modal-header-pcal {
    height: 65px;
    background-color: #009b77;
	border-radius: 10px 10px 0px 0px;
}

/* 모달 간격 조정 */
#form-content{
	margin-bottom: 1.5rem;
}
.form-date-cal {
	margin-bottom: 1rem;
	width: 45%;
}
/* 모달 간격 조정 */
/* 모달 공통 */


/* add+kakao 지도 */
.map{
	width: 90%;
	height: 200px;
	border-radius: 20px;
	margin: 0 auto;
	margin-bottom: 2.0rem; /* 아래쪽 여백을 추가 */
} 
.map-hidden {
  display: none;
}
/* add+kakao 지도 */


/* 참가자 */
.attenduserid-item {
	height: 30px;
    line-height: 30px;
    width: 50%;
    display: inline-block;	
}

.form-calmemberlist{
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.attenduserid-item > div{
	margin-left: 1rem;
}

#attenduseridList{
	display: flex;
}

/* input 테두리 제거, 초점 시 테두리 제거 */
input:focus {
    outline: none; 
}

/* 참가자 테두리 부분 */
.attenduserid-item > .form-control-userid{
	margin-left: 1rem;
	width: 30%;
	border: 0 solid transparent;
	background-color: transparent;
	border: none;
}
.attenduserid-item > .form-control-updateUserid{
	margin-left: 1rem;
	width: 30%;
	border: 0 solid transparent;
	background-color: transparent;
	border: none;
}
/* 참가자 테두리 부분 */
/* 참가자 */


/* 날짜부분 svg */
.feather.feather-calendar.align-middle{
	margin-right: 0.1rem;
	width: 15px;
}







