@charset "UTF-8";

	#s_chat_btn {
		width: 240px;
	}
	
	#s_emp_list {
		width: 120px;
		height: 45px;
		border: 1px solid lightgray;
	}
	.chatfont{
		text-align: center;
		top: 10px;
		font-size: 1.2em;
		position: relative;
		font-weight: bold;
	}
	#s_chat_list {
		width: 120px;
		height: 45px;
		border: 1px solid #c3c3c3;
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #f5f7fb;
  padding: 0px;
  height: 100%;
}

.modal-header {
	height: 65px;
    background-color: #009b77;
}

.modal-body {
	padding: 15px 15px;
	margin: 0 auto;
}

.modal-text {
	display: block;
	padding: 0.625rem 1.625rem;
}


.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
	padding-right: 10px;
}
.alert-box {
    position: fixed;
    top: 100px; 
    left: 50%; 
    transform: translateX(-50%); 
    background: red; 
    color: red; 
    padding: 10px 20px;
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    z-index: 999; 
}


.btn-secondary{
	border: solid;
	border-radius: 6px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



.modal-content.project {
  border-radius: 40px 0 0 40px;
}

.modal-header.project {
    border-radius: 40px 0 0;
}

.modal.project.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 40%;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	    -ms-transform: translate3d(0%, 0, 0);
	     -o-transform: translate3d(0%, 0, 0);
	        transform: translate3d(0%, 0, 0);
}
.modal.project.right.fade .modal-dialog {
	right:-40%;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
     transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.project.right.fade.show .modal-dialog {
	right: 0;
}

.card-body.addProject {
	cursor: auto;	
    height: 670px;
}

/* PtaskModal */
.modal-dialog.ptask {

    position: relative;
    z-index: 5;
    height: 80%;
    width: 674px;
    margin: 5% auto 0 auto;
    background: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    box-shadow: 20px 20px 30px rgba(0,0,0,.2);
    border-radius: 10px;
}

.modal-content {
	border-radius: 10px;
}

.modal-header.ptask {
    height: 65px;
    background-color: #009b77;
	border-radius: 10px 10px 0px 0px;
}

.form-select.mb-3.selectCategory {
    width: 30%;
}

.form-control.manager {
	width: 30%;
}

.feather.feather-clock.align-middle.me-2 {
    position: relative;
    bottom: 8px;
}

.card-header.ptaskTitle {
	padding: 1rem 0rem;
}

.card-body.ptask {
	cursor: auto;	
    height: 670px;
}



.modal-dialog.updateProject {

    position: relative;
    z-index: 5;
    height: 80%;
    width: 674px;
    margin: 30px auto 0 auto;
    background: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    box-shadow: 20px 20px 30px rgba(0,0,0,.2);
    border-radius: 10px;
}
.memberlist{
	border-bottom: solid 1px;
	padding: 0 0 10px;
}
.modal-content {
	border-radius: 10px;
	
}

.modal-header.updateProject {
    height: 65px;
    background-color: #009b77;
	border-radius: 10px 10px 0px 0px;
}

.form-select.mb-3.selectCategory {
    width: 30%;
}

.feather.feather-clock.align-middle.me-2 {
    position: relative;
    bottom: 8px;
}

.card-header.updateProjectTitle {
	padding: 1rem 0rem;
}

.card-body.updateProjectTitle {
	cursor: auto;	
    height: 670px;
}
.btn btn-secondary{
	margin: 20px 0 0 0;
	position: relative;
	left: 140px;
}
form {
	cursor: auto;	
}
		
	}
	
	#s_sub_menu {
		display: flex;
		margin-top: 5px;
	}
	
	.s_menu_box {
		width: 414px;
		height: 560px;
		border: 1px solid lightgray;
		border-radius: 0px 10px 10px 10px;
		padding: 20px;
		overflow: auto;
		margin:0 5px 0 0;
		background-color: #f5f7fb;
	}

	.roomlist{
		height: 50px;
		padding: 0px
	}
	.roomlist:hover{
		border: solid 1px #d4d4d4; 
		border-radius: 5px;
		
	}
	.s_modal_menu_box {
		width: 100%;
		height: 350px;
		border: 1px solid lightgray;
		border-radius: 10px;
		padding: 20px;
		overflow: auto;
	}
	/* 스크롤바 색상  
	.s_modal_menu_box.s_scroll::-webkit-scrollbar-thumb {
		background-color: #009b77;
	}
	*/
	.primary{
		position: relative;
		top: 15px;
	}
	.s_emp_box {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		border-bottom: 1px solid lightgray;
		padding: 10px 0;
	}


	#s_f_list {
		font-size: 1.2em;
		padding: 10px 0;
		font-weight: bold;
		color: #0d6efd;
		text-align: center;
		margin-top: 5px;
	}
	

	#s_sub_menu_box {
		width: 250px; 
		margin-top: 15px;
		
		margin-left: 10px;
	}
	
	#s_menu_box2 {
		display: none;
	}
	
	.s_chat_box {
		margin-bottom: 20px;
		border-bottom: 1px solid lightgray;
		padding-bottom: 20px;
		cursor: pointer;
	}
	
	.modal-body {
		margin: 0 auto;
	}
	
	#s_select_part {
	    text-align: center;
	    height: 100px;
	    overflow: auto;
	    border: 1px solid lightgray;
	    border-radius: 10px;
	    padding: 20px;
	    margin-bottom: 30px;
	    width: 100%;
	}
	
	.s_select_part_tt {
		font-size: 1.2em;
	    font-weight: bold;
	    text-align: center;
    	margin-bottom: 10px;
	}
	
	.s_invite_p {
		border: 1px solid;
	    width: 90px;
	    padding: 0 10px;
	    border-radius: 10px;
	    display: inline-block;
	    margin: 5px;
	}
	
	.btn-close {
		font-size: .7em;
		margin-left: 3px;
	}
	
	#s_select_part_cnt {
		margin-left: 5px;
	    color: gray;
	}
	
	#s_chat_content_box {
		border: 1px solid lightgray;
		height: 1012px;
		width: 1050px;
		margin-top: 20px;
		margin-left: 10px;
		border-radius: 10px;
		padding: 20px;
	}

	.s_scroll::-webkit-scrollbar {
    	width: 10px; 
    	height: 10px; 
	}
	
	.s_scroll::-webkit-scrollbar-thumb {
	    height: 30%;
	    background: #34343482;
	    
	    border-radius: 10px;
	}
	
	.s_scroll::-webkit-scrollbar-track{
	    background: #4747471a; 
	    border-radius: 10px;
	}
	

	.s_room_tt {
		font-size: 1.2em;
	    font-weight: bold;
	}
</style>
<!-- SweetAlert -->
<style>

	.swal-modal {

		border: 3px solid white;
	}

	.swal-button--danger {
		background-color: #0583F2;
		color: white;
	}

	.swal-button--cancel {
		background-color: red;
		color: white;
	}

	.swal-button--confirm {
		background-color: #0583F2;
		color: white;
	}

	.swal-icon--info {
		border-color: #0583F2;
	}

	.swal-icon--info:after {
		background-color: #0583F2;
	}

	.swal-icon--info:before {
		background-color: #0583F2;
	}

	.swal-title {
		font-size: 20px;
		color: black;
	}

	.swal-text {
		color: black;
	}
	.chatimg{
		width: 50px;
	}
