/* +일정추가 버튼 */
#btn-modal {	
	border: 1px solid transparent;
}
.btn.btn-primary.addcal {
    padding: 8px 16px;
    float: right;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    float: right;
}


/* 캘린더 */
.fc-daygrid a{
	color: #000000;
}
.fc-icon.fc-icon-chevron-right::before,
.fc-icon.fc-icon-chevron-left::before  {
    font-family: inherit; /* 부모 요소 폰트 스타일을 적용시킴 */
}

.fc-prev-button.fc-button.fc-button-primary, 
.fc-next-button.fc-button.fc-button-primary {
	border-radius: 10px;
	width: 55px;
}