.jm-body ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.jm-task-aside {
	float: right;
	direction: ltr;
	max-width: 260px;
	min-width: 260px;
	background: #dfdfdf;
}

.mini-pop {
	display: none;
	cursor:pointer;
	
}

.mini-pop.active {
	display: block;
	
}

.jm-move{
	cursor: move;	
}
.jm-move div{
	draggable: true
}
span.jm-project-title{
	font-weight: bold;
}
div.jm-box-project-title{
	position:relative;
	background: #E8E8E8;
	z-index: 500;
}
.jm-box-project-title>span{
	position:relative;
	z-index: -100;
}
.jm-rotate{
	position:relative;
	z-index: -50;
}
.jm-rotate>polygon{
	position:relative;
	z-index: -5;
}
.jm-grey{
	
	border-left: solid #D3D3D3 1px;
	border-bottom: solid #D3D3D3 1px;
	border-top: solid #D3D3D3 1px;
	position: relative;
}
.jm-grey-nb{
	border-left: solid #D3D3D3 1px;
	border-right: solid #D3D3D3 1px;
}

div.jm-task-title{
	border-right: solid #D3D3D3 1px;
	height: 50px;
}
.jm-gr{
	border-right: solid #D3D3D3 1px;
}
.jm-project-task-count{
	
	margin-left: 5px;
    font-size: 12px;
    letter-spacing: -1px;
    color: #999;
}
.jm-task-title{
	text-align: center;
}
.jm-tp{
	border: none;
	color: #999;
	background-color: transparent;
	font-size: 13px;
	position: relative;
	z-index: 100;
}

.jm-header{
	color: #000;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: .5rem;
	margin-top: 0;
	font-size: 1.75rem;
	margin-bottom: 1rem !important;
}
.jm-title-ttitle>.jm-inner-task-button{
		background-color: transparent;
		font-size: 13px;
		color: #999;
		border: none;
}
.plusplus:hover{
	background-color: #f3e9fe;
}
.jm-title-ttitle>button:hover{
	color: #8000ff;
	border: #8000ff 1px solid;
}
.jm-dn{
	display: inline;
	position: relative;
}
.jm-flex{
	display: flex;
}
.jm-input-date{
	width: 80%
}

.jm-hidden{
	display: none;
}
.dropdown-item>button{
	z-index: -1;
}