/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f5f7fb;
  padding: 0px;
  /* border: 1px solid #888; */
  height: 100%;
}

.modal-header {
	height: 65px;
    background-color: #009b77;
}

.modal-body {
	padding: 15px 15px;
	margin: 0 auto;
	height: 94%;
}

.modal-text {
	display: block;
	padding: 0.625rem 1.625rem;
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
	padding-right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Date */
.form-date {
	width: 45%;
}

/* Project */
/* Right */
.modal-content.project {
  border-radius: 40px 0 0 40px;
}

.modal-header.project {
    border-radius: 40px 0 0;
}

.modal.project.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 40%;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	    -ms-transform: translate3d(0%, 0, 0);
	     -o-transform: translate3d(0%, 0, 0);
	        transform: translate3d(0%, 0, 0);
}
.modal.project.right.fade .modal-dialog {
	right:-40%;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
     transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.project.right.fade.show .modal-dialog {
	right: 0;
}

.modal-body.updateProject {
	cursor: auto;	
    /* height: 670px; */
    height: 94%;
}

.form-control {
	margin-bottom: 1.5rem;	
}

/* PtaskModal */
.modal-dialog.ptask {

    position: relative;
    z-index: 5;
    height: 80%;
    width: 674px;
    margin: 5% auto 0 auto;
    background: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    box-shadow: 20px 20px 30px rgba(0,0,0,.2);
    border-radius: 10px;
}

.modal-content {
	border-radius: 10px;
}

.modal-header.ptask {
    height: 6%;
    background-color: #009b77;
	border-radius: 10px 10px 0px 0px;
}

.form-select.mb-3.selectCategory {
    width: 30%;
}

.form-control.manager {
	width: 30%;
}

.feather.feather-clock.align-middle.me-2 {
    position: relative;
    bottom: 8px;
}

.wrap-card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    height: 100%;
}

.card-header.ptaskTitle {
	padding: 1rem 0rem;
}

.card-body.ptask {
	cursor: auto;	
    /* height: 670px; */
    height: 100%;
}

/* addProjectModal */

.modal-dialog.addProject {

    position: relative;
    z-index: 5;
    height: 80%;
    width: 674px;
    margin: 30px auto 0 auto;
    background: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    box-shadow: 20px 20px 30px rgba(0,0,0,.2);
    border-radius: 10px;
}

.modal-content {
	border-radius: 10px;
}

.modal-header.addProject {
    height: 65px;
    background-color: #009b77;
	border-radius: 10px 10px 0px 0px;
}

.form-select.mb-3.selectCategory {
    width: 30%;
}

.feather.feather-clock.align-middle.me-2 {
    position: relative;
    bottom: 8px;
}

.card-header.addProjectTitle {
	padding: 1rem 0rem;
	/* height: 5%; */
}

.card-body.addProjectTitle {
	cursor: auto;	
    height: 670px;
}

/* updateProjectModal */

.modal-dialog.updateProject {

    position: relative;
    z-index: 5;
    height: 80%;
    width: 674px;
    margin: 30px auto 0 auto;
    background: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    box-shadow: 20px 20px 30px rgba(0,0,0,.2);
    border-radius: 10px;
}

.modal-content {
	border-radius: 10px;
}

.modal-header.updateProject {
    height: 65px;
    background-color: #009b77;
	border-radius: 10px 10px 0px 0px;
}

.form-select.mb-3.selectCategory {
    width: 30%;
}

.feather.feather-clock.align-middle.me-2 {
    position: relative;
    bottom: 8px;
}

.card-header.updateProjectTitle {
	padding: 1rem 0rem;
}

.card-body.updateProjectTitle {
	cursor: auto;	
    height: 670px;
}

form {
	cursor: auto;	
	height: 93%;
}

/* detailptaskmodal */
.card-body.detailPtaskTitle {
	cursor: auto;	
}

.blankValue {
	margin: 0.3rem;
}

.d-flex.align-items-center > svg {
	height: 18px;
	width: 18px;
    position: relative;
    top: -9px;
}