.card-body.list:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: 1px, solid, #009b77;	
}

.h3.mb-3 > span {
	margin: 0px, 10px;
}

.frm.select {
	position: relative;
} 

.ck-editor__editable_inline {
    min-height: 275px;
}
