@charset "UTF-8";


.project-color{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.project-detail-header{
	min-width: 750px;
	height: 60px;
	padding: 10px 15px;	
	display: flex;
}
.project-header-group{
	position: relative;
	top: 11px ;
	padding: 0 10px;
}
.testtt{
	padding: 0 20px 0 0;
}