.content {
	width: 100%;
	height: 100%;
}

.w3-container.tab.ptab {
	padding: 0;
	height: 100%;
	
}

.w3-bar.tabBar {
	border-bottom: 1px solid #80808038;
}

.w3-bar-item.w3 {
	background-color: #f5f7fb;
}

.w3-bar-item.w3:hover {
	color: #009b77;
	border-bottom: 1px solid green;
}

.btn.btn-primary.addTaskTab {
    padding: 8px 16px;
    float: right;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    
}

.feather .me-2 {
	cursor: pointer;
}

.status.setting {
	border-color: transparent;
    background-color: transparent;
    appearance: none;
}

.text-tab {
	/* position: absolute; */ /* 임지 */
	font-size: 1.53125rem;
}

.listOne:hover {
	transform: scale(1.01);
	overflow: hidden;
}

.detailProject, .deletePtask {
	visibility: hidden;
    margin: 0 0 0 auto;
    color: #aea8ca;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-decoration: underline;
    text-underline-position: under;
    border: transparent;
    background: transparent;	
    float: right;
}

.detail-project {
	height: 0;
}

.detail-ptask {
	height: 0;
}

.form-control:disabled, .form-control[readonly] {
	background-color: white;
}

.form-control.detail-content.tcontent {
    height: 300px;
    margin-bottom: 1.5rem;
}

.form-control.detail-content.tcontent > p {
	margin: 0;
}

.form-control.manager.ml-2.tstatus {
    width: 30%;
    margin-bottom: 1rem;
}

.tabtitle {
	overflow: hidden;
}

.w3-bar-item.w3.click{
    color: rgb(0, 155, 119);
}

.w3-container.tab.ptab{
	display:none;
}


.feather-delete {
	color: #aea8ca;
}

.d-none.d-xl-table-cell.mname,
.d-none.d-xl-table-cell.tstatus,
.d-none.d-xl-table-cell.tdate,
.d-none.d-xl-table-cell.tstartdate,
.d-none.d-xl-table-cell.tenddate {
	width: 10%;
}

.d-none.d-xl-table-cell.ttitle,
.d-none.d-xl-table-cell.mname,
.d-none.d-xl-table-cell.tstatus,
.d-none.d-xl-table-cell.tdate,
.d-none.d-xl-table-cell.tstartdate,
.d-none.d-xl-table-cell.tenddate {
	text-align: center;
}
.d-none.d-xl-table-cell.tenddate {
	padding-right: 50px;
}

.listOne > td:nth-child(2),
.listOne > td:nth-child(5),
.listOne > td:nth-child(6),
.listOne > td:nth-child(7),
.listOne > td:nth-child(8),
.listOne > td:nth-child(9) {
	text-align: center;
}

.listOne > td:nth-child(1) {
	padding-left: 2%;
}