@charset "UTF-8";
.container {
    display: flex;
    
}

.sidebar {
    background-color: #333;
    width: 200px;
   
}

.sidebar .item {
    padding: 15px;
    border-bottom: 1px solid #555;
}

.content {
    flex: 1;
    padding: 20px;
    transition: margin-right 0.3s; /* Añadido */
}



.sidesheet {
    position: fixed;
    right: -400px;
    top: 66px !important;
    bottom: 0;
    width: 400px;
    transition: right 0.3s;
    border-left: 1px solid #ccc;
    overflow-y: auto; /* Agregado para que el sidesheet tenga su propio scroll */
    max-height: 100vh; /* Asegura que el sidesheet no exceda la altura de la ventana */
    background-color: white;
    z-index: 2;
}

.sidesheet-open .sidesheet {
    right: 0;
}
.sidesheet-open .content {
    margin-right: 300px;  /* Este margen es igual al ancho del sidesheet */
}