<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attend">

	<!-- 출근 -->
	<insert id="attendIn" parameterType="String">
		INSERT INTO ATTEND (ATDATE,
		USERID, ATSTATENO, ATINTIME, ATWORKHOUR) VALUES
		(TO_CHAR(sysdate,
		'YYYY-MM-DD'), #{userid}, 1, TO_CHAR(sysdate, 'YYYY-MM-DD
		HH24:MI:SS'), 0)
	</insert>

	<!-- 근태리스트 -->
	<select id="attendList" parameterType="String" resultType="AttendVo">
		SELECT ATDATE, ATSTATE,
		ATINTIME, ATOUTTIME, ATWORKHOUR FROM ATTEND JOIN WORKSTATE ON
		ATTEND.ATSTATENO = WORKSTATE.ATSTATENO WHERE USERID = #{userid}
	</select>
</mapper>