<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attend">

	<!-- 출근 -->
	<insert id="attendIn" parameterType="AttendVo">
		INSERT INTO ATTEND (ATDATE,
		USERID, ATSTATENO, ATINTIME, ATWORKHOUR) VALUES
		(#{atdate}, #{userid},
		1, #{attime}, 0)
	</insert>

	<!-- ATDATE 값중복 -->
	<select id="checkDate" parameterType="AttendVo"
		resultType="_int">
		SELECT COUNT(*) FROM ATTEND WHERE USERID = #{userid} AND
		ATDATE = #{atdate}
	</select>

	<!-- ATDATE 근무시간 -->
	<update id="workHour" parameterType="AttendVo">
		UPDATE ATTEND SET ATWORKHOUR = (
		SELECT
		ROUND ((OUTTIME - INTIME)*24 *60, 2)MM
		FROM (
		SELECT TO_DATE(ATINTIME, 'YYYY-MM-DD HH24:MI:SS') INTIME
		,TO_DATE(ATOUTTIME, 'YYYY-MM-DD HH24:MI:SS') OUTTIME
		FROM ATTEND WHERE ATDATE = #{atdate}
		) TT) WHERE ATDATE = #{atdate}

	</update>

	<!-- 퇴근 -->
	<update id="attendUpdate" parameterType="AttendVo">
		UPDATE ATTEND SET
		ATSTATENO = 2, ATOUTTIME =
		#{attime}, ATWORKHOUR = 1 WHERE
		ATDATE=#{atdate}
	</update>

	<!-- 근태리스트 -->
	<select id="attendList" parameterType="String"
		resultType="AttendVo">
		SELECT ATDATE, ATSTATE,
		ATINTIME, ATOUTTIME, ATWORKHOUR FROM
		ATTEND JOIN WORKSTATE ON
		ATTEND.ATSTATENO = WORKSTATE.ATSTATENO WHERE
		USERID = #{userid}
	</select>
</mapper>