<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat">
	<resultMap type="ChatRoomVo" id="chatRoomMap">
		<id property="roomId" column="roomid"/>
		<result property="roomName" column="roomname"/>
		<result property="userId" column="userid"/>
		<result property="mName" column="mname"/>
	</resultMap>
	<resultMap type="ChatMessageVo" id="chatMessageMap">
		<id property="roomId" column="roomid"/>
		<result property="userId" column="userid"/>
		<result property="message" column="message"/>
		<result property="cDate" column="cdate"/>
		<result property="mName" column="mname"/>
	</resultMap>
	
	<!-- 채팅방 만들기 -->
	<insert id="chatInsert" parameterType="ChatRoomVo">
		INSERT INTO CHATROOM (ROOMID,ROOMNAME) VALUES (chat_sequence.NEXTVAL,#{roomName})
	</insert>
	
	
	<!-- 만든 채팅방 전체 리스트 조회 -->
	<select id="findAllRooms" resultMap="chatRoomMap">
		SELECT * FROM CHATROOM <!-- WHERE USERID=#{userId} 세션 확인후 주석 풀기-->
	</select>
	
	<!-- 채팅방 멤버 추가 -->
	<insert id="memberInsert" parameterType="ChatRoomVo">
		INSERT INTO CHATMEMBER(ROOMID,USERID) VALUES(#{roomId},#{userId})
	</insert>
	
	
	<!-- 해당 채팅방 진입 selectone (추가!!) 채팅방 진입하면 -->
	<select id="findRoomById" resultMap="chatRoomMap">
		SELECT USERID FROM USERS JOIN CHATMESSAGE USING(userId)  WHERE ROOMID = #{roomId} AND USERID = #{userId}
	</select>
	<!-- 메세지 입력시 db저장 -->
	<insert id="messageInsert" parameterType="ChatMessageVo">
		INSERT INTO CHATMESSAGE (USERID,MESSAGE,ROOMID,cDate) VALUES (#{userId},#{message},#{roomId},SYSTIMESTAMP)
	</insert>
	
	<!-- 해당 채팅방에서의 대화 내용 보기 -->
<!-- 	<select id="viewChat" resultMap="chatMessageMap">
		SELECT * FROM CHATMESSAGE WHERE ROOMID = #{roomId} ORDER BY CDATE ASC
	</select> -->
	
	<!-- 대화 내역 보기 -->
	<select id="viewChat" resultMap="chatMessageMap">
		select USERID,ROOMID,MNAME,MESSAGE,CDATE from CHATMESSAGE join users USING(userId) WHERE ROOMID = #{roomId} ORDER BY CDATE ASC
	</select>
	
	<!-- 대화상대 리스트 -->
	<select id="viewMember" resultMap="chatRoomMap">
		select userId,mName from users
	</select>
	<select id="readRoom" resultMap="chatRoomMap">
	select * from chatroom  where roomid=#{roomId}
	</select>
</mapper>
