<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="company">

	<!-- 회사정보 -->
	<select id="companyInfo" parameterType="String"
		resultType="CompanyVo">
		SELECT CNAME, CPHONE, CADDRESS, DEPTNAME FROM COMPANYINFO
		WHERE USERID = #{ccode}
	</select>

	<!-- 회사정보수정 --><!-- TODO -->
	<select id="update" parameterType="CompanyVo">
	</select>

	<!-- 회사회원가입 1: COMPANY insert -->
	<insert id="newCompany" parameterType="kh.groupware.stream.company.model.vo.CompanyInsertParam">
		<selectKey order="BEFORE" keyProperty="ccode"
			keyColumn="ccode" resultType="string">
			SELECT 'C' || TO_CHAR(COMPANY_SEQUENCE.NEXTVAL, 'FM000') ccode FROM DUAL
		</selectKey>
		INSERT INTO COMPANY (CCODE, CNAME, CPHONE, CADDRESS) VALUES
		(#{ccode}, #{cname}, #{cphone}, #{caddress})
	</insert>

</mapper>
