<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="department">

	<!-- 부서조회 -->
	<select id="deptList" parameterType="String" resultType="DeptVo">
		SELECT DEPTNAME, DEPTNO FROM DEPT WHERE CCODE = #{ccode}
	</select>
	
	<!-- 회사회원가입 2: DEPT insert -->
   <insert id="newDept"  parameterType="kh.groupware.stream.company.model.vo.CompanyInsertParam" >
   		INSERT ALL 
      	INTO DEPT (DEPTNO, CCODE, DEPTNAME) VALUES   (#{defaultDeptCode}, #{ccode}, #{defaultDeptName})
      <foreach collection="deptArr" item="deptname" index="idx">
      	INTO DEPT (DEPTNO, CCODE, DEPTNAME) VALUES   ( REPLACE('D'||TO_CHAR(TO_NUMBER(SUBSTR(DEPTNO, 2)) + #{idx} +1, '00'),' ','') , #{ccode}, #{deptname})
      </foreach>
 		 SELECT NVL(MAX(DEPTNO), 'D00') DEPTNO FROM DEPT WHERE CCODE= #{ccode}
   </insert>

</mapper>
