<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="file">
	
	<insert id="savedFile" parameterType="PtaskVo">
		INSERT INTO FILES (FNAME, TNO, USERID, FDATE, FSIZE, FPATH, FORIGINNAME)
		VALUES (#{filevo.fname}, #{tno}, #{userid}, SYSDATE, #{filevo.fsize}, #{filevo.fpath}, #{filevo.foriginname}) 
	</insert>

</mapper>
