<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainTask">
	<resultMap type="ProjectVo" id="maintaskVoMap">
		<id property="pno" column="PNO"/>
		<result property="pname" column="PNAME"/>
		<result property="userid" column="USERID"/>
		<result property="mname" column="mname"/>
		<collection property="maintaskList" ofType="PtaskVo" column="pno">
			<id property="tno" column="tno"/>
			<result property="pno" column="pno"/>
			<result property="userid" column="userid"/>
			<result property="tmember" column="tmember"/>
			<result property="ttitle" column="ttitle"/>
			<result property="tcontent" column="tcontent"/>
			<result property="tstatus" column="tstatus"/>
			<result property="tdate" column="tdate"/>
			<result property="tstartdate" column="tstartdate"/>
			<result property="tenddate" column="tenddate"/>
			<result property="bref" column="bref"/>
			<result property="brestep" column="brestep"/>
			<result property="brelevel" column="brelevel"/>
		</collection>
	</resultMap>
	<!-- 
	프로젝트, 업무 뿌리기
	<select id="projectNameList" resultMap="maintaskVoMap" parameterType="string">
		select pname, pno, p.userid, t.userid, tmember, ttitle, tstatus, tdate, tstartdate, tenddate, tno, bref, brestep, brelevel
    		from project p right join task t using (pno)
    		where tmember = #{userid} or t.userid =#{userid}
    		order by pno asc, bref desc, brelevel asc, brestep asc, tno desc
	</select>
	 -->
	 
	<select id="projectNameList" resultMap="maintaskVoMap"  parameterType="string">
		select pname, pno, u.userid, projectwriter, taskwriter, mname, tmember, ttitle, tstatus, tdate, tstartdate, tenddate, tno, bref, brestep, brelevel
    		from	(select pname, pno, p.userid projectwriter, t.userid taskwriter , tmember, ttitle, tstatus, tdate, tstartdate, tenddate, tno, bref, brestep, brelevel
   						from project p 
    					right join task t using (pno)
    					join member_project mp using(pno)
    					where tmember = 'sple@kh.co.kr' or t.userid ='sple@kh.co.kr'
    					group by (pname, pno, p.userid, t.userid, tmember, ttitle, tstatus, tdate, tstartdate, tenddate, tno, bref, brestep, brelevel)
    					order by to_number(pno) desc, bref desc, brelevel asc, brestep asc, tno desc) ff
    		join users u on (u.userid= ff.taskwriter)
	</select>
	
	<!-- 프로젝트 기준 화면 뿌리기 -->
	<select id="projectOneTaskList" resultMap="maintaskVoMap" parameterType="string">
		select pname, pno, p.userid, t.userid, tmember, ttitle, tstatus, tdate, tstartdate, tenddate, tno, bref, brestep, brelevel
    		from project p right join (select * from task t where pno=#{pno}) t using (pno)
    		where tmember = #{userid} or t.userid=#{userid} 
    		order by bref desc, brelevel asc, brestep asc, tno desc
	</select>
	
	<!-- 하위업무 추가 -->
	<insert id="innerTaskInsert" parameterType="PtaskVo">
		insert into task (TNO, PNO, USERID, tmember, TTITLE, tcontent, TSTATUS, TDATE, tstartdate, tenddate, BREF, BRESTEP, BRELEVEL)
		values (
			task_sequence.NEXTVAL, #{pno}, #{userid}, #{userid}, #{ttitle}, 'DEFAULT', #{tstatus}, sysdate, #{tstartdate}, #{tenddate}, 
				(select bref from task where tno=#{tno}),
				(select brestep+1 from task where tno=#{tno}),
				(select brelevel+1 from task where tno=#{tno})
				)
	</insert>
	<!-- 하위업무 추가 전 step 처리 -->
	<update id="InnerTaskInsertBeforeUpdate" parameterType="PtaskVo">
		update task set BRESTEP = BRESTEP +1 
   			where BRESTEP > (SELECT BRESTEP FROM task WHERE tno = #{tno})
        	and BREF = (select bref from task where tno = #{tno})
	</update>
	
	<!-- 하위업무 추가시 담당자 리스트용. -->
	<select id="memberProjectselectOne" resultType="ProjectVo">
		select pno, userid, mname
			from member_project 
			join users using(userid)
			where pno=#{pno}
	</select>
	
</mapper>