<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<!-- 회원로그인 -->
	<select id="selectOne" parameterType="MemberVo" resultType="String" >
		
		SELECT MNAME FROM USERS WHERE
		USERID= #{userid} AND PASSWORD= #{password}

	</select>
	
	<!-- 회원가입 -->
	<select id="insert" parameterType="MemberVo">
		INSERT INTO USERS VALUES (#{userid}, #{deptno}, #{ccode}, #{password}, 1, 'RM', #{mname}, NULL, NULL)
	</select>
	
	<!-- 마이페이지 -->
	<select id="myPage" parameterType="String" resultType="MemberVo">
		SELECT MNAME, CNAME, DEPTNAME, USERID, MPHONE, MRANK FROM MEMBER WHERE USERID = #{userid}
	</select>
	
	<!-- 마이페이지 수정 -->
	<select id="update" parameterType="MemberVo">
		UPDATE USERS SET DEPTNO= #{deptno}, MPHONE = #{mphone}, MRANK = #{mrank} WHERE USERID = #{userid}
	</select>
	
</mapper>
