<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<!-- 회원가입 -->
	<select id="signUp" parameterType="MemberVo">
		UPDATE USERS SET
		DEPTNO =
		#{deptno}, PASSWORD = #{password}, MNAME = #{mname}, ENABLED= 1 WHERE
		USERID = #{userid}
	</select>

	<!-- 아이디체크 -->
	<select id="idCheck" parameterType="String" resultType="_int">
		SELECT
		COUNT(USERID) FROM USERS
		WHERE USERID=#{userid}
	</select>

	<select id="showMyPage" parameterType="String"
		resultType="MyPageVo">
		SELECT U.MNAME, U.MRANK, U.MPHONE, (SELECT C.CNAME FROM COMPANY C
		WHERE U.CCODE = C.CCODE) CNAME, D.DEPTNAME FROM (SELECT * FROM USERS
		WHERE USERID = #{userid}) U INNER JOIN DEPT D ON U.DEPTNO = D.DEPTNO
		AND U.CCODE = D.CCODE
	</select>
	
	<!-- 회사회원가입 3: USERS insert -->
	<insert id="newUsers" parameterType="kh.groupware.stream.company.model.vo.CompanyInsertParam">
		INSERT ALL INTO USERS (USERID, DEPTNO, CCODE, PASSWORD, ENABLED, AUTHORITY)
		VALUES
		<foreach collection="emailArr" item="userid">
		 (#{userid}, 'D000', #{ccode}, default, 0, 'ROLE_M')
		 </foreach> 
	</insert>
	
	<!-- 회사회원가입 4: USERS Company Id insert -->
	<insert id="newComapnyId" parameterType="kh.groupware.stream.company.model.vo.CompanyInsertParam">
	 	INSERT INTO USERS (USERID, DEPTNO, CCODE, PASSWORD, ENABLED, AUTHORITY)
	 	VALUES (#{ccode}||'@stream.com', 'D000', #{ccode}, default, 1, 'ROLE_C')
	</insert>
	<!-- SELECT U.USERID, U.MNAME, (SELECT C.CNAME FROM COMPANY C WHERE U.CCODE 
		= C.CCODE) CNAME, D.DEPTNAME FROM (SELECT * FROM USERS WHERE USERID = 'sple@kh.co.kr') 
		U INNER JOIN DEPT D ON U.DEPTNO = D.DEPTNO AND U.CCODE = D.CCODE; -->


</mapper>
