<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project">

	<select id="selectList" resultType="ProjectVo">
		SELECT TP.PNO, TP.PNAME, <![CDATA[REGEXP_REPLACE(TP.PCONTENT, '<[^>]*>|&[^;]*;', '')]]> AS PCONTENT, TP.PSTATUS, TP.PACCESS, TO_CHAR(TP.PSTARTDATE, 'YYYY-MM-DD') AS PSTARTDATE, TO_CHAR(TP.PENDDATE, 'YYYY-MM-DD') AS PENDDATE
		, TP.USERID, VUD.MNAME, VUD.MRANK, VUD.DEPTNAME, PCOLOR
		, (SELECT COUNT(*) FROM MEMBER_PROJECT WHERE PNO= TP.PNO) AS COUNTMEMBER
		FROM (
		SELECT * FROM PROJECT
		WHERE (USERID= #{USERID} OR PNO IN (SELECT PNO FROM MEMBER_PROJECT WHERE
		USERID=#{userid}))
		AND PSTATUS IN ('미진행', '진행', '보류')
		AND PACCESS IN ('ACCESS')
		) TP
		JOIN V_U_DEPT VUD ON TP.USERID = VUD.USERID
		ORDER BY TO_NUMBER(PNO) DESC
	</select>
  	
	<select id="selectHide" resultType="ProjectVo">
		SELECT TP.PNO, TP.PNAME, TP.PCONTENT, TP.PSTATUS, TP.PACCESS
		, TP.USERID, VUD.MNAME, VUD.MRANK, VUD.DEPTNAME, PCOLOR
		, (SELECT COUNT(*) FROM MEMBER_PROJECT WHERE PNO= TP.PNO) AS COUNTMEMBER
		FROM (
		SELECT * FROM PROJECT
		WHERE (USERID= #{userid} OR PNO IN (SELECT PNO FROM MEMBER_PROJECT WHERE
		USERID=#{USERID}))
		AND PSTATUS IN ('숨김')
		AND PACCESS IN ('ACCESS')
		) TP
		JOIN V_U_DEPT VUD ON TP.USERID = VUD.USERID
		ORDER BY TO_NUMBER(PNO) DESC
	</select>
	
	<select id="sessionPname" resultType="ProjectVo">
		SELECT PNO, PNAME, PCOLOR
		FROM PROJECT
		WHERE PNO = #{pno}
	</select>
	
	<select id="selectOne" resultType="ProjectVo">
   		SELECT TP.PNO, TP.PNAME, TP.PCONTENT, TP.PSTATUS, TP.PACCESS
		, TP.USERID, VUD.MNAME, VUD.MRANK, VUD.DEPTNAME, PCOLOR
		, PCONTENT, PDATE, TO_CHAR(PSTARTDATE, 'yyyy-mm-dd') PSTARTDATE, TO_CHAR(PENDDATE, 'yyyy-mm-dd') PENDDATE, PCOLOR
		, (SELECT COUNT(*) FROM MEMBER_PROJECT WHERE PNO= TP.PNO) AS COUNTMEMBER
		FROM (
		SELECT * FROM PROJECT
		WHERE (USERID= #{userid} and pno = #{pno})
		AND PACCESS IN ('ACCESS')
		) TP
		JOIN V_U_DEPT VUD ON TP.USERID = VUD.USERID
		ORDER BY TO_NUMBER(PNO) DESC
	</select>
	 
	<!-- 프로젝트 + 참여할 멤버 추가 -->
	<insert id="insertList" parameterType="ProjectInsertParamVo">
		INSERT ALL 
			INTO PROJECT (PNO, USERID, PNAME, PCONTENT, PACCESS, PSTARTDATE, PENDDATE, PCOLOR, PSTATUS)
			VALUES (project_sequence.NEXTVAL, #{userid}, #{pname}, #{pcontent}, #{paccess}, #{pstartdate}, #{penddate}, concat('RGB('||ROUND(DBMS_RANDOM.VALUE(200, 255))||' '||ROUND(DBMS_RANDOM.VALUE(0, 255))||' '||ROUND(DBMS_RANDOM.VALUE(0, 255)), ')'),#{pstatus})
		  <foreach collection="memberProjectArr" item="memberuserid">
			INTO MEMBER_PROJECT(PNO, USERID)		values (project_sequence.NEXTVAL, #{memberuserid} )
		  </foreach>
		SELECT * FROM DUAL
	</insert>
	 
	<insert id="insertMemberProjectForUpdate" parameterType="ProjectInsertParamVo">
	  <foreach collection="memberProjectArr" item="memberuserid" open="INSERT ALL " close="SELECT * FROM DUAL">
		INTO MEMBER_PROJECT(PNO, USERID) values (#{pno}, #{memberuserid} )
	  </foreach>
	</insert>

	<update id="updateList" parameterType="ProjectInsertParamVo">
        UPDATE PROJECT	SET PNAME=#{pname}, pcontent=#{pcontent}, PSTATUS=#{pstatus}, PSTARTDATE=#{pstartdate}, PENDDATE=#{penddate}
        WHERE PNO = #{pno}	 
	</update>
	
	<update id="updateHide"  parameterType="PnoPrincipalParam">
		UPDATE PROJECT	SET  PSTATUS='숨김'
        WHERE PNO = #{pno}
	</update>

	<delete id="deleteList" parameterType="ProjectVo">
		DELETE FROM PROJECT
		WHERE PNO = #{pno} 
	</delete>
	
	<select id="searchProjectList" parameterType="ProjectVo" resultType="ProjectVo">
	
		SELECT TP.PNO, TP.PNAME, TP.PSTATUS, TP.PACCESS
		, TP.USERID, VUD.MNAME, VUD.MRANK, VUD.DEPTNAME, PCOLOR
		, (SELECT COUNT(*) FROM MEMBER_PROJECT WHERE PNO= TP.PNO) AS COUNTMEMBER
		FROM (
		SELECT * FROM PROJECT
		WHERE (USERID= #{userid} OR PNO IN (SELECT PNO FROM MEMBER_PROJECT WHERE
		USERID=#{userid}))
		AND PSTATUS IN ('미진행', '진행', '보류')
		AND PACCESS IN ('ACCESS')
		<if test="type == '프로젝트명'">
			AND PNAME LIKE '%' || #{keyword} || '%'
		</if>
		<if test="type == '진행도'">
			AND PSTATUS LIKE '%' || #{keyword} || '%'
		</if>	
		) TP
		JOIN V_U_DEPT VUD ON TP.USERID = VUD.USERID
		<if test="type == '작성자'">
		WHERE MNAME LIKE '%' || #{keyword} || '%'
		</if>
		ORDER BY TO_NUMBER(PNO) DESC
		<!--  
		SELECT TP.PNO, TP.PNAME, TP.PSTATUS, TP.PACCESS
		, TP.USERID, VUD.MNAME, VUD.MRANK, VUD.DEPTNAME, PCOLOR
		, (SELECT COUNT(*) FROM MEMBER_PROJECT WHERE PNO= TP.PNO) AS COUNTMEMBER
		FROM (
		SELECT * FROM PROJECT
		WHERE (USERID= #{userid} OR PNO IN (SELECT PNO FROM MEMBER_PROJECT WHERE
		USERID=#{userid}))
		AND PSTATUS IN ('미진행', '진행', '보류')
		AND PACCESS IN ('ACCESS')
        AND PNAME LIKE '%' || #{keyword} || '%'
		) TP
		JOIN V_U_DEPT VUD ON TP.USERID = VUD.USERID
		ORDER BY TO_NUMBER(PNO) DESC
		-->
	</select>
	
	<select id="selectMname" resultType="MemberSimpleVo">
		select userid, mname, ccode from users where userid=#{userid}
	</select>
	
	<!-- 로그인 한 계정 정보 조회 - 황대경  -->
	<select id="loingUser" resultType="ProjectVo">
		SELECT *
		FROM USERS
			JOIN DEPT USING (DEPTNO, CCODE)
		WHERE USERID = #{userid}
	</select>
	
	
</mapper>
