<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project">
  
  <select id="selectList" resultType="ProjectVo">
	SELECT PNO, USERID, PNAME, PCOMENT, PACCESS, PDATE, TO_CHAR(PSTARTDATE, 'YYYY-MM-DD')PSTARTDATE, TO_CHAR(PENDDATE, 'YYYY-MM-DD')PENDDATE, ROWNUM PROW 
	FROM PROJECT
    <!-- WHERE USERID = 'kh0001@kh.com' -->
    
    <!-- SELECT PNO, USERID, PNAME, PCOMENT, PACCESS, PDATE, TO_CHAR(PSTARTDATE, 'YYYY-MM-DD')PSTARTDATE, TO_CHAR(PENDDATE, 'YYYY-MM-DD')PENDDATE, ROWNUM PROW 
	FROM PROJECT JOIN USERS USINIG(userid)
    WHERE USERID = 'kh0001@kh.com' -->
  </select>
  
  <insert id="insertList" parameterType="ProjectVo">
	INSERT INTO PROJECT (PNO, USERID, PNAME, PCOMENT, PACCESS, PSTARTDATE, PENDDATE)
	VALUES (project_sequence.NEXTVAL, #{userId}, #{pname}, #{pcoment}, #{paccess}, #{pstartDate}, #{pendDate})
  </insert>
  
</mapper>
