<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="task">
  
	<select id="selectList" resultType="PtaskVo">
		SELECT * 
		FROM TASK
		WHERE TSTATUS IN ('미진행', '진행', '보류')
	</select>

	<select id="ProjectSelectOne" resultType="PtaskVo">
		SELECT tno,  pno, T.userid, tmember, ttitle, tcontent, tstatus, MNAME, mrank
			, to_char(tdate, 'yyyy-mm-dd') tdate
			, to_char(tstartdate, 'yyyy-mm-dd') tstartdate
			, to_char(tenddate, 'yyyy-mm-dd') tenddate
			, bref, brelevel, brestep
		FROM TASK T
            JOIN USERS U ON (T.TMEMBER = U.USERID)
		WHERE PNO= #{pno}
			AND TSTATUS IN ('미진행', '진행', '보류')
	<!--  
		SELECT tno,  pno, userid, tmember, ttitle, tcontent, tstatus
			, to_char(tdate, 'yyyy-mm-dd') tdate
			, to_char(tstartdate, 'yyyy-mm-dd') tstartdate
			, to_char(tenddate, 'yyyy-mm-dd') tenddate
			, bref, brelevel, brestep
		FROM TASK
		WHERE PNO=#{PNO}
			AND TSTATUS IN ('미진행', '진행', '보류')
	-->
	</select>
		
	<select id="ProjectSelectOneInner" resultType="PtaskVo" parameterType="map">
		SELECT tno,  pno, userid, tmember, ttitle, tcontent, tstatus
			, to_char(tdate, 'yyyy-mm-dd') tdate
			, to_char(tstartdate, 'yyyy-mm-dd') tstartdate
			, to_char(tenddate, 'yyyy-mm-dd') tenddate
			, bref, brelevel, brestep 
		FROM TASK
		WHERE PNO=#{pno} and TNO=#{tno}
	</select>	
	
	<insert id="insertTask" parameterType="PtaskVo">
		<selectKey order="BEFORE" keyColumn="ctno" keyProperty="tno" resultType="string">
		select task_sequence.NEXTVAL as ctno from dual
		</selectKey>
		INSERT 
		INTO TASK (TNO, PNO, USERID, TMEMBER, TTITLE, TCONTENT, TSTATUS, tstartdate, tenddate, bref, brelevel, brestep)
			VALUES (#{tno}, #{pno}, #{userid}, #{tmember}, #{ttitle}, #{tcontent}, #{tstatus}, #{tstartdate}, #{tenddate}, #{tno}, '0', '0')
	</insert>

	<delete id="deleteTask" parameterType="String">
		DELETE FROM TASK 
		WHERE TNO = #{tno}
  	</delete>
  	
	<update id="updatePtask" parameterType="ProjectVo">
		UPDATE TASK SET TNO=#{tno}, PNO=#{pno}, USERID=#{userid}, TMEMBER=#{tmember}, TTITLE=#{ttitle}, TCONTENT=#{tcontent}, TDATE=#{tdate}, TSTARTDATE=#{tstartdate}, TENDDATE=#{tenddate}, BREF=#{bref}, BRESTEP=#{brestep}, BRELEVEL=#{brelevel}
		WHERE PNO=#{pno} and TNO=#{tno}
	</update>
	
	<update id="updatePtaskHide" parameterType="ProjectVo">
		UPDATE TASK SET tstatus = '숨김'
		WHERE TNO=#{tno}
	</update>

</mapper>
