<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="kh.groupware.stream.ptask.model.vo.PtaskVo" alias="PtaskVo"/>
		<typeAlias type="kh.groupware.stream.member.model.vo.MemberVo" alias="MemberVo"/>
		<!-- <typeAlias type="kh.groupware.stream.member.model.vo.MemberSimpleVo" alias="MemberSimpleVo"/> -->
		<typeAlias type="kh.groupware.stream.company.model.vo.CompanyVo" alias="CompanyVo"/>
		<typeAlias type="kh.groupware.stream.project.model.vo.ProjectVo" alias="ProjectVo"/>
		<typeAlias type="kh.groupware.stream.main.model.dto.MaintaskDto" alias="MaintaskDto"/>
		<typeAlias type="kh.groupware.stream.calendar.model.vo.CalendarVo" alias="CalendarVo"/>
		<typeAlias type="kh.groupware.stream.chat.model.vo.ChatVo" alias="ChatVo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/ptask-mappers.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/company-mapper.xml"/>
		<mapper resource="mappers/project-mapper.xml"/>
		<mapper resource="mappers/maintask-mapper.xml"/>
		<mapper resource="mappers/calendar-mapper.xml"/>
		<mapper resource="mappers/chat-mapper.xml"/>
	</mappers>	
	
</configuration>
