<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="kh.groupware.stream.ptask.model.vo.PtaskVo" alias="PtaskVo"/>
		<typeAlias type="kh.groupware.stream.member.model.vo.MemberVo" alias="MemberVo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/ptask-mappers.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
	</mappers>	
</configuration>
