<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="kh.groupware.stream.member.model.vo.MemberVo" alias="MemberVo"/>
		<typeAlias type="kh.groupware.stream.member.model.vo.MyPageVo" alias="MyPageVo"/>
		<typeAlias type="kh.groupware.stream.company.model.vo.CompanyVo" alias="CompanyVo"/>
		<typeAlias type="kh.groupware.stream.dept.model.vo.DeptVo" alias="DeptVo"/>
		<typeAlias type="kh.groupware.stream.email.model.vo.EmailVo" alias="EmailVo"/>
		<typeAlias type="kh.groupware.stream.member.model.vo.MemberSimpleVo" alias="MemberSimpleVo"/>
		<typeAlias type="kh.groupware.stream.ptask.model.vo.PtaskVo" alias="PtaskVo"/>
		<typeAlias type="kh.groupware.stream.project.model.vo.ProjectVo" alias="ProjectVo"/>
		<typeAlias type="kh.groupware.stream.main.model.dto.MaintaskDto" alias="MaintaskDto"/>
		<typeAlias type="kh.groupware.stream.calendar.model.vo.CalendarVo" alias="CalendarVo"/>
		<typeAlias type="kh.groupware.stream.chat.model.vo.ChatMessageVo" alias="ChatMessageVo"/>
		<typeAlias type="kh.groupware.stream.chat.model.vo.ChatRoomVo" alias="ChatRoomVo"/>
		<typeAlias type="kh.groupware.stream.admin.vo.AdminVo" alias="AdminVo"/>
		<typeAlias type="kh.groupware.stream.reply.model.vo.ReplyVo" alias="ReplyVo"/>
		<typeAlias type="kh.groupware.stream.files.model.vo.FileVo" alias="FileVo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/company-mapper.xml"/>
		<mapper resource="mappers/department-mapper.xml"/>
		
		<mapper resource="mappers/ptask-mapper.xml"/>
		<mapper resource="mappers/project-mapper.xml"/>
		<mapper resource="mappers/maintask-mapper.xml"/>
		<mapper resource="mappers/calendar-mapper.xml"/>
		<mapper resource="mappers/chat-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/reply-mapper.xml"/>
		<mapper resource="mappers/file-mapper.xml"/>
	</mappers>	
	
</configuration>
